asgiref==3.6.0
black==23.3.0
crispy-bootstrap5==0.7
Django==4.2.2
django-admin-soft-dashboard==1.0.12
python-dotenv==1.0.0
tomli==2.0.1
django-debug-toolbar==3.6.0
dj-database-url==2.0.0
psycopg2-binary==2.9.6
