{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none" id="navbarBlur" navbar-scroll="true">
  <div class="container-fluid py-1 px-3">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="text-sm text-dark active ms-2" aria-current="page">
          <div class="nav-header">
            <a class="navbar-brand m-0" href="{% url 'task_manager:index' %}">
              <img src="{% static 'img/main_logo.jpg' %}" class="navbar-brand-img h-100" alt="main_logo">
              <span class="ms-1 font-weight-bold">Workflow Master</span>
            </a>
          </div>
        </li>
      </ol>

      <ul class="navbar-nav  justify-content-end">
        <li class="nav-item d-flex align-items-center">
          <a href="https://github.com/kleotan901/workflow_master.git" target="_blank" class="rocket-img"></a>
          <a href="https://github.com/kleotan901/workflow_master.git" target="_blank" class="nav-link text-body font-weight-bold px-0">
              <span class="d-sm-inline d-none me-3">Project on Github</span>
            </a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a href="https://docs.djangoproject.com/en/4.2/" target="_blank" class="nav-link text-body font-weight-bold px-0">
              <span class="d-sm-inline d-none me-3">Django Docs</span>
            </a>
          </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
