{% load static %}

<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
  <div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand m-0" href="{% url 'task_manager:index' %}">
      <img src="{% static 'img/main_logo.png' %}" class="navbar-brand-img h-100" alt="main_logo">
      <span class="ms-1 font-weight-bold">Task Manager</span>
    </a>
  </div>
  <hr class="horizontal dark mt-0">
  <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
    <ul class="navbar-nav">
                <li class="nav-item">
                  <span class="nav-link">
                    <span class="d-flex justify-content-between align-items-center">
                      <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                        <img src="{% static 'img/menu-up.svg' %}" alt="side_menu_icon">
                      </div>
                      <a href="{% url 'task_manager:worker-list' %}">
                        <span class="nav-link-text ms-1">Workers</span>
                      </a>
                    </span>
                  </span>
                </li>
                <li class="nav-item">
                  <span class="nav-link">
                    <span class="d-flex justify-content-between align-items-center">
                      <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                        <img src="{% static 'img/menu-up.svg' %}" alt="side_menu_icon">
                      </div>
                      <a href="{% url 'task_manager:position-list' %}">
                        <span class="nav-link-text ms-1">Position</span>
                      </a>
                    </span>
                  </span>
                </li>
                <li class="nav-item">
                  <span class="nav-link">
                    <span class="d-flex justify-content-between align-items-center">
                      <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                        <img src="{% static 'img/menu-up.svg' %}" alt="side_menu_icon">
                      </div>
                      <a href="{% url 'task_manager:task-list' %}">
                        <span class="nav-link-text ms-1">Tasks</span>
                      </a>
                    </span>
                  </span>
                </li>
    </ul>
  </div>

  <div class="sidenav-footer mx-3 ">
    <div class="card card-background shadow-none card-background-mask-secondary" id="sidenavCard">
      <div class="full-background" style="background-image: url('{% static 'img/curved-images/white-curved.jpg' %}')"></div>
      <div class="card-body text-start p-3 w-100">
        <div class="icon icon-shape icon-sm bg-white shadow text-center mb-3 d-flex align-items-center justify-content-center border-radius-md">
          <img src="{% static 'img/documentation.svg' %}" alt="">
        </div>
        <div class="docs-info">
          <h6 class="text-white up mb-0">Documentation</h6>
          <a href="https://github.com/kleotan901/it-company-task-manager"
             target="_blank" class="btn btn-white btn-sm w-100 mb-0">Project on github</a>
        </div>
      </div>
    </div>
    <a target="_blank"
       class="btn bg-gradient-primary mt-3 w-100"
       href="https://getbootstrap.com/">Bootstrap</a>
  </div>
</aside>
