{%  extends "layouts/base.html" %}
{% load crispy_forms_filters %}

{%  block content %}

  <div class="row">
      <div class="col-8">
      <a href="{% url 'task_manager:position-create' %}" class="btn btn-primary link-to-page">
        Create position
      </a>
      <form action="" method="get" class="form-inline">
        {{ search_form|crispy }}
        <input type="submit" value="" class="custom-search-btn">
      </form>
    </div>
  </div>

<div class="row">
  {% if position_list %}
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Number of employees</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>

    {% for position in position_list %}
      <tr>
        <td>{{ position.name }}</td>
        <td class="total-count">{{ position.worker_set.count }}</td>
        <td>
          <a href="{% url 'task_manager:position-update' pk=position.id %}" class="btn btn-primary link-to-page">
            Update
          </a>
        </td>
        <td>
          <a href="{% url 'task_manager:position-delete' pk=position.id %}" class="btn btn-primary link-to-page">
            Delete
          </a>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
{% else %}
    <p>There are no positions in the company.</p>
{% endif %}

{%  endblock %}
