{%  extends "layouts/base.html" %}
{% load crispy_forms_filters %}

{%  block content %}

  <div class="row">
      <div class="col-8">
      <a href="{% url 'task_manager:tag-create' %}" class="btn btn-primary link-to-page">
        Create new tag
      </a>
      <form action="" method="get" class="form-inline">
        {{ search_form|crispy }}
        <input type="submit" value="" class="custom-search-btn">
      </form>
    </div>
  </div>

<div class="row">
  {% if tag_list %}
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Number of tasks</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>

    {% for tag in tag_list %}
      <tr>
        <td>{{ tag.name }}</td>
        <td class="total-count">{{ tag.tasks.count }}</td>
        <td>
          <a href="{% url 'task_manager:tag-update' pk=tag.id %}" class="btn btn-primary link-to-page">
            Update
          </a>
        </td>
        <td>
          <a href="{% url 'task_manager:tag-delete' pk=tag.id %}" class="btn btn-primary link-to-page">
            Delete
          </a>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
{% else %}
    <p>There are no tags</p>
{% endif %}

{%  endblock %}
