{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <div class="form-create-update">
    <h4>{{ object|yesno:"Update,Create new" }} project</h4>
  <form action="" method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}

  <div class="buttons-wrapper">
    <input type="submit" value="Submit" class="btn btn-primary">
      {% if object %}
        <a href="{% url 'task_manager:task-list' %}" class="btn btn-secondary btn-cancel">
          Cancel
        </a>
      {% else %}
        <a href="{% url 'task_manager:task-list' %}" class="btn btn-secondary btn-cancel">
          Cancel
        </a>
      {% endif %}
  </div>
  </form>

</div>
{% endblock %}
