{% extends "base.html" %}

{% block content %}
  <h1>
    {{ task.name }}
    <a href="{% url 'task_manager:task-update' pk=task.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
    <a href="{% url 'task_manager:task-delete' pk=task.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    {% if task.is_completed %}
      <span class="badge rounded-pill bg-success">task completed</span>
    {% elif task.is_completed is False and task.deadline|date:"Y-m-d" < today|date:"Y-m-d" %}
      <span class="badge rounded-pill bg-danger">task overdue</span>
    {% else %}
      <span class="badge rounded-pill bg-warning text-dark">In work...</span>
    {% endif %}

  </h1>
  <p><em>{{ task.task_type }}</em></p>
  <p><em>Deadline: {{ task.deadline }}</em></p>
  <p>Description: {{ task.description }}</p>

  {% if task.assignees.all %}
    <h3>Assignees:</h3>
    {% for assignee in task.assignees.all %}
      <ul>
        <li>{{ assignee.username }} ({{ assignee.position }})</li>
      </ul>
    {% endfor %}
  {% else %}
    There are no assignees
  {% endif %}

      <a href="#" class="btn btn-success link-to-page">
        Assign me to this project
      </a>
      <a href="#" class="btn btn-danger link-to-page">
        Delete me from this project
      </a>

  <hr>
  <ul>
    {% for driver in car.drivers.all %}
      <li>{{ driver.username }} ({{ driver.first_name }} {{ driver.last_name }})</li>
    {% endfor %}
  </ul>
{% endblock %}
