{% extends "layouts/base.html" %}
{% load tz %}

{% block content %}
  <div class="container">
  <div class="row">
    <div class="col-6 col-md-4">
    <a href="{% url 'task_manager:task-create' %}" class="btn btn-primary link-to-page">
      New task
    </a>
    </div>
  </div>

  <div class="row">
  {% if task_list %}
    <table class="table task-list">
      <tr>
        <th>Task</th>
        <th>Priority</th>
        <th>Type</th>
        <th>Deadline</th>

      </tr>
    {% for task in task_list %}
      <tr>
        <td class="task-names"><a href="{% url 'task_manager:task-detail' pk=task.id %}" class="links-list">{{ task.name }}</a></td>
        <td class="text-lists">{{ task.priority }}</td>
        <td class="text-lists">{{ task.task_type }}</td>
        <td class="text-lists">
          {% if task.is_completed %}
            ✅ task completed
          {% elif task.is_completed is False and task.deadline|date:"Y-m-d" < today|date:"Y-m-d" %}
            ⏰ task is overdue
          {% else %}
            {{ task.deadline|date:"d.m.Y" }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
  </div>

  {% else %}
    <p>There are no tasks</p>
  {% endif %}


</div>
{% endblock %}
