{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ worker.username }}
    <a href="" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'task_manager:worker-update' pk=worker.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>

  <p><strong>First name:</strong> {{ worker.first_name }}</p>
  <p><strong>Last name:</strong> {{ worker.last_name }}</p>
  <p><strong>Position:</strong> {{ worker.position }}</p>

  <div class="ml-3">
    <h4>Tasks</h4>
      {% if worker.tasks.exists %}

        <h5>Completed projects:</h5>
        {% for task in worker.tasks.all %}
          {% if task.is_completed is True %}
            <p><a href="{% url 'task_manager:task-detail' pk=task.id %}">{{ task.name }}</a> - ({{ task.deadline }})</p>
          {% endif %}
        {% empty %}
            <p>There are no completed projects </p>
        {% endfor %}

        <h5>Projects in progress:</h5>
        {% for task in worker.tasks.all %}
          {% if not task.is_completed %}
            <p><a href="{% url 'task_manager:task-detail' pk=task.id %}">{{ task.name }}</a> - ({{ task.deadline }})</p>
          {% endif %}
        {% empty %}
          <p>There are no projects in works</p>
        {% endfor %}

      {% else %}
        <p>The worker is not assigned to any project</p>
      {% endif %}
  </div>
  <button><a href="#">Assign to the project</a></button>
{% endblock %}
