{% extends "base.html" %}

{% block content %}
    <h1>
      Worker List
      <a href="{% url 'task_manager:worker-create' %}" class="btn btn-primary link-to-page">
        Add worker
      </a>
    </h1>
  <div class="search-line">
    <form action="" method="get" class="form-inline">
      {{ search_form }}
      <input type="submit" value="🔍" class="btn btn-secondary">
    </form>
  </div>

    {% if worker_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Position</th>
        <th>Number of tasks in work</th>

      </tr>
    {% for worker in worker_list %}
      <tr>
        <td>{{ worker.id }}</td>
        <td><a href="{% url 'task_manager:worker-detail' pk=worker.id %}">{{ worker.username }} {% if user == worker %} (Me){% endif %}</a></td>
        <td>{{ worker.first_name }}</td>
        <td>{{ worker.last_name }}</td>
        <td>{{ worker.position }}</td>
        <td>{{ worker.tasks.count }}</td>
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>There are no workers.</p>
    {% endif %}
{% endblock %}
